Data Reading

In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors
import pickle

movies_df = pd.read_csv("../dataset/movie.csv")      # Replace with correct path if needed
ratings_df = pd.read_csv("../dataset/rating.csv")    # Replace with correct path if needed

movies_df.head()
ratings_df.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40